
.asp {
    height: auto;
    position: relative;
}

.asp .container {
    width: 90%;

    margin: 0 auto;
    padding:10px 0px;
    max-width: 1200px;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    gap:10px;

    flex-wrap:wrap;
}

.asp .section{
    max-width: 490px;
    height:auto;
}

.asp .section .content{
    margin:10px;
}