@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Ralewey", sans-serif;
}

/* HEADER */
.header {
    height: auto;

    background-color: #17252A;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.header .container {
    width: 90%;
    min-height:50px;

    margin: 0 auto;
    padding:10px;
    overflow: hidden;
    max-width: 1200px;
    color:white;

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    flex-wrap:wrap;
}

.header .nav {
    padding: 0;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.header .link {
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    font-weight: inherit;
}


/* FOOTER */

.footer {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #17252A;
}

.footer .container {
    width: 90%;
    height: 50px;

    margin: 0 auto;
    padding: 5px 10px 10px 10px;

    overflow: hidden;
    max-width: 1200px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .nav {
    margin:0;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    align-items: center;
    font-weight: 500;
}

.footer .link {
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 15px;
    font-weight: inherit;
}

.footer .link .text{
    margin-left:20px;
}
/* HOVER */

.link:hover {
    text-decoration: auto;
    border-bottom: 2px solid white;
}

